<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> <!--load bootstrap from online CDN-->
    <link rel="stylesheet" type="text/css" href="styling.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script>
    
    /* We already sorted the list before sending up.
    So if user wants to sort ASC or DSC, we just need to flip the actual order of nodes in the table.
    This will work both ways and runs on client side.
    */
    function reverseList(){
        let parent = document.getElementById("LaunchList"); //grab top node before for-each
        for (var i = 1; i < parent.childNodes.length; i++){ //iterate each child node made in initial loop
            parent.insertBefore(parent.childNodes[i], parent.firstChild); //grabs "next" element and puts it behind the first
        }
    }

    /* Hide and show elements of a row based on existing presence */
    let switchCount = 0;
    function displayToggle(input){
        document.getElementsByName(input.id).forEach(
            x => {
                if(x.style.display==="none"){
                    x.style.display = "";
                    switchCount++;
                } else{
                    x.style.display = "none";
                    switchCount--;
                } 
            }
        );
        if(switchCount < 1){
            document.getElementsByName("headers").forEach(
            x => x.style.display="none");
        } else {
            document.getElementsByName("headers").forEach(
            x => x.style.display="");
        }
    }

</script>
<body>

    <table class="table table-striped">
        <thead class>
            <div class="anchor">
                <p class="title-head">SpaceX Launches</p>
                <button class="btn btn-primary anchor2" onclick="reverseList()")>Reverse List</button>
            </div>
            <tr class="anchor2">
                <th name="headers" style="display: none"></th>
                <th name="headers" style="display: none"><p class="tableHeader">Image</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Synopsis</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Details</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Media</p></th>
            </tr>
        </thead>
        <tbody id="LaunchList">
            <tr th:each="x:${launches}">
                <td><button type="button" th:id="${x.launch.id}" class="btn btn-info" th:text="${x.launchDate}" onClick="displayToggle(this)"></button></td>
                <td th:name="${x.launch.id}" class="listImageCell" style="display: none">
                    <img class="listImage" th:src="${x.firstFlickrImage}" />
                </td>
                <td th:name="${x.launch.id}" class="textList" style="display: none">
                    <ul>                    
                        <li><p th:utext="|<strong>Name:</strong> ${x.launch.name}|"/></li>
                        <li><p th:utext="|<strong>Flight</strong> #${x.launch.flight_number}|"/></li>
                        <li><p th:utext="|<strong>Success?</strong> ${x.launch.success}|"/></li>
                    </ul>

                </td>
                <td th:name="${x.launch.id}" style="display: none">
                    <p class="textDetail" th:text="|${x.launch.details}|"/>
                </td>
                <td th:name="${x.launch.id}" class="textList" style="display: none">
                    <ul>
                        <li><a th:href="${x.launch.links.webcast}">Webcast</a></li>
                        <li><a th:href="${x.launch.links.wikipedia}">Wikipedia</a></li>
                        <li><a th:href="${x.launch.links.reddit.launch}">Reddit</a></li>
                    </ul>
                </td>

            </tr>
        </tbody>
    </table>
</body>

</html>