<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> <!--load bootstrap from online CDN-->
    <link rel="stylesheet" type="text/css" href="styling.css"> <!--takes local style sheet-->
    <script src="spaceXJavaScript.js"></script> <!--takes local javascript-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table class="table">
        <thead class>
            <div class="anchor">
                <p class="title-head">SpaceX Rockets</p>
                <button class="btn btn-primary anchor2" name="RocketList" onclick="reverseList(this)")>Reverse List</button>
            </div>
            <tr>
                <th name="headers" style="display: none"></th>
                <th name="headers" style="display: none"><p class="tableHeader">Image</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Dimensions</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Engines</p></th>
                <th name="headers" style="display: none"><p class="tableHeader">Etc</p></th>
            </tr>
        </thead>
        <tbody id="RocketList">
            <tr th:each="x:${rockets}"> <!--Thymeleaf for-loop over passed rockets object-->
                <td class="buttonCell"><button type="button" th:id="${x.rocket.id}" class="btn btn-info" th:text="${x.rocket.name}" onClick="displayToggle(this)"></button></td>
                <td class="listImageCell" th:name="${x.rocket.id}" style="display: none">
                    <img class="listImage" th:src="${x.rocket.flickr_images[0]}" />
                </td>
                <td th:name="${x.rocket.id}" class="textListRocket" style="display: none">
                    <ul>                    
                        <li><p th:utext="|<strong>Height:</strong> ${x.rocket.height.feet}ft|"/></li>
                        <li><p th:utext="|<strong>Width:</strong> ${x.rocket.diameter.feet}ft|"/></li>
                        <li><p th:utext="|<strong>Weight:</strong> ${x.rocket.mass.lb}lbs|"/></li>
                    </ul>
                </td>
                <td th:name="${x.rocket.id}" class="textListRocket" style="display: none">
                    <ul>                    
                        <li><p th:utext="|<strong>Engine Type:</strong>${x.rocket.engines.type}|"/></li>
                        <li><p th:utext="|<strong>Layout:</strong> ${x.rocket.engines.layout}|"/></li>
                        <li><p th:utext="|<strong>TtW Ratio:</strong> ${x.rocket.engines.thrust_to_weight}|"/></li>
                    </ul>
                </td>
                <td th:name="${x.rocket.id}" class="textListRocket" style="display: none">
                    <ul>                    
                        <li><p th:utext="|<strong>Stages:</strong> ${x.rocket.stages}|"/></li>
                        <li><p th:utext="|<strong>Cost per Launch:</strong> $${x.rocket.cost_per_launch}|"/></li>
                        <li><p th:utext="|<strong>Success Rate:</strong> ${x.rocket.success_rate_pct}%|"/></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>