.anchor {
    position:sticky;
    background-color:gainsboro;
    top:0;
    min-height:20vh;
}

.anchor2 {
    position:sticky;
    top:20vh;
    min-height: fit-content;
}

.tableHeader {
    margin:auto;
    text-align:center;
}

.title-head {
    margin:auto;
    width:50%;
    font-size:3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position:sticky;
    top:0em;
}

.btn-info{
    color:gainsboro;
    min-width:7em;
}

.listImageCell{
    width:25%;
}

.listImage{
    height:200px;
    width:50%;
    margin: auto;
    display: block;
}

.textList{
    width:15%;
}

.textDetail{
    text-indent: 2em;
}

tbody>tr:nth-child(odd)>td,
tbody>tr:nth-child(odd)>th{
    background-color:oldlace;
}

tbody>tr:nth-child(even)>td,
tbody>tr:nth-child(even)>th{
    background-color:gainsboro;
}

.table>:not(caption)>*>*{
    background-color: gainsboro;
}

table{
    background-color: gainsboro;
}